<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raw Bars Only</title>
    
    <link rel="stylesheet" href="{% if word is defined %}../{% endif %}style.css">

    {% if bars is defined %}
    <!-- Load d3.js -->
    <script src="https://d3js.org/d3.v4.js"></script>
    <!-- Load d3-cloud -->
    <script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>
    {% endif %}
</head>
<body>

    <div class="navbar">
        <a href="{% if word is defined %}../{% endif %}index.html"><h1>Raw Bars Only</h1></a>
        <a href="{% if word is defined %}../{% endif %}index.html">Home</a>
    </div>

    <div class="content">
        {% if bar is defined %}
        <!-- Bar page -->
        <div>
            <div class="bar">
                <h3><pre>{{ bar["Bar"] }}</pre></h3>
                <p><em>{{ bar["Title"] }}</em> by <em>{{ bar["Artists"] }}</em></p>
                <p>My comments: {{ bar["Comments"] }}</p>
            </div>
            <div class="lyrics">
                {% for line in song["Full lyrics"].split("\n") %}
                <p class="line">{{ line.replace('nigga', 'n****').replace('Nigga', 'N****') }}</p>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if bars is defined %}
        <!-- Homepage -->
        <!-- Create a div where the graph will take place -->
        <div id="dataviz"></div>
        <div class="columns">
            <img src="wordcloud.png" alt="Wordcloud" width="600px">
            <ul>
                {% for bar in bars %}
                <li><b><pre><a href="{{ bar['Id'] }}.html">{{ bar["Bar"] }}</a></pre></b></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if word is defined %}
        <!-- Create a page with the word and all lyrics containing that word -->
        <h1 style="text-align: center;">{{word}}</h1>
        <div class="lyrics">
            {% for song_id, line in lines %}
            <p class="line">
                {{ line.replace('nigga', 'n****').replace('Nigga', 'N****') }}
            </p>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <div class="footer">
        <p>Raw Bars Only &copy; 2024</p>
    </div>

</body>

{% if bars is defined %}
<script>
    // List of words
    var myWords = {{ words|tojson }};
    console.log(myWords);
    
    // set the dimensions and margins of the graph
    var margin = {top: 10, right: 10, bottom: 10, left: 10},
        width = 1425 - margin.left - margin.right,
        height = 792 - margin.top - margin.bottom;
    
    // append the svg object to the body of the page
    var svg = d3.select("#dataviz").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
      .append("g")
        .attr("transform",
              "translate(" + margin.left + "," + margin.top + ")");
    
    // Constructs a new cloud layout instance. It run an algorithm to find the position of words that suits your requirements
    // Wordcloud features that are different from one word to the other must be here
    var layout = d3.layout.cloud()
      .size([width, height])
      .words(myWords.map(function(d) { return {text: d.word, size:d.size}; }))
      .padding(5)        //space between words
      .rotate(function() { return ~~(Math.random() * 2) * 90; })
      .fontSize(function(d) { return d.size; })      // font size of words
      .on("end", draw);
    layout.start();
    
    // This function takes the output of 'layout' above and draw the words
    // Wordcloud features that are THE SAME from one word to the other can be here
    function draw(words) {
      svg
        .append("g")
          .attr("transform", "translate(" + layout.size()[0] / 2 + "," + layout.size()[1] / 2 + ")")
          .selectAll("text")
            .data(words)
          .enter().append("text")
            .style("font-size", function(d) { return d.size; })
            .style("fill", "#222")
            .attr("text-anchor", "middle")
            .style("font-family", "Arial")
            .attr("transform", function(d) {
              return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
            })
            .text(function(d) { return d.text; })
            .attr("cursor", "pointer")
            .on("mouseover", function(d) {
                d3.select(this).style("fill", "red");
            })
            .on("click", function(d) {
                window.location.href = "words/" + d.text + '.html';
            });
    }
</script>
{% endif %}

</html>